; sample appconfig.ini
; must be located in the applications root folder
; there are defaults for anything hardcoded into the application
[Database]
DBMethod = unix
DBUser = user
DBpass = veryverysecret

[Templates]
; how often (in seconds) should the app check for updated templates
; default are 60 seconds, for a development system, you may lower this
MTimeCheckInterval 60

[Server]
urlprefix = /app/

[Defaults]
Language = DE_de
